.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 1rem;
  width: 100%;

  .appTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 1rem;
    font-family: var(--font-mono);
  }
}