.wordContainer {
    width: 600px;
    max-width: 90%;
    height: 300px;
    transition: opacity 0.1s ease-in-out, margin 0.2s ease-in-out;
    &.left {
        margin-left: -100%;
        opacity: 0;
    }
    &.right {
        margin-left: 100%;
        opacity: 0;
    }
}

.draggable {
    border-radius: 10px;
    border: 1px solid #ccc;
    opacity: 1;
    &.pass {
        transform: translateX(100vw);
        opacity: 0;
    }
    &.fail {
        transform: translateX(-100vw);
        opacity: 0;
    }
}